<template>
	<div class="flight">
		<div class="flight__header">
			<img src="./../assets/images/mito.svg" alt="">
			<div class="flight__header__from">
				<span>Leaving from</span>
				<span class="flight__header__from--city">{{ originCity }}</span>
			</div>
			<div class="flight__header__direction">
				<img src="./../assets/images/icon-arrow-right.svg" alt="">
				<img src="./../assets/images/icon-arrow-left.svg" alt="" v-if="arrival">
			</div>
			<div class="flight__header__to">
				<span>&nbsp;</span>
				<span class="flight__header__to--city">{{ destinationCity }}</span>
			</div>
		</div>
		<div class="flight__selection">
			<div class="flight__selection__sidebar">
				<div class="flight__selection__sidebar--price">
					<strong>Flights</strong>
					<strong class="price">${{ total }}</strong>
				</div>
				<div class="flight__selection__sidebar--choose">
					<strong v-if="!departureTicket">Choose an outbound flight</strong>
					<div>
						<div v-if="departureTicket" class="ticket-details">
							<div class="calendar">
								<strong>NOV</strong>
								<strong>3</strong>
							</div>
							<div class="departure">
								<strong>{{ originCity }} - {{ destinationCity }}</strong>
							</div>
						</div>
						<div v-if="arrivalTicket" class="ticket-details">
							<div class="calendar">
								<strong>NOV</strong>
								<strong>3</strong>
							</div>
							<div class="departure">
								<strong>{{ destinationCity }} - {{ originCity }}</strong>
							</div>
						</div>
					</div>
				</div>
				<div class="flight__selection__sidebar--total">
					<strong>Total</strong>
					<strong>${{ total }}</strong>
				</div>
				<div class="flight__selection__sidebar--pay">
					<button v-on:click="showModal" class="button--paynow" :disabled="!departureTicket || (arrival && !arrivalTicket)">Pay now</button>
				</div>
			</div>
			<div class="flight__selection__table">
				<div class="flight__selection__table__title"> 
					<img src="./../assets/images/icon-plane.svg" alt="">
					Select flight
				</div>
				<div class="flight__selection__table--outbound">
					<div class="flight__selection__table--header">
						OUTBOUND
						<span>
							<strong class="outbound-from">{{ originCity }}</strong>
							<img src="./../assets/images/icon-arrow-right-blue.svg" alt="">
							<strong class="outbound-to">{{ destinationCity }}</strong>
						</span>
					</div>
					<div class="flight__selection__table__dates">
						<div class="flight__selection__table__dates--prev">
							<span>
								<img src="./../assets/images/icon-prev.svg" alt="">
								Wed 7 October
							</span>
						</div>
						<div class="flight__selection__table__dates--date">
							Saturday, 3 November 2015
						</div>
						<div class="flight__selection__table__dates--next">
							<span>
								Sat 10 October
								<img src="./../assets/images/icon-next.svg" alt="">
							</span>
						</div>
					</div>
					<div class="flight__selection__table__times">
						<div class="flight__selection__table__times--headers">
							<div></div>
							<div>Basic</div>
							<div>Standard</div>
							<div>Plus</div>
						</div>
						<div v-for="ticket in origin" v-bind:key="ticket.flightNumber" class="flight__selection__table__times--row">
							<div class="time">
								{{ ticket.departure  | moment("HH:mm") }}
								<img src="./../assets/images/icon-arrow-small.svg" alt="">
								{{ ticket.arrival  | moment("HH:mm") }}
							</div>
							<div>
								<a href="#" v-if="ticket.remainingTickets" v-on:click="addTicketDeparture" :data-price=ticket.fares[0].price>${{ ticket.fares[0].price}}</a>
							</div>
							<div>
								<a href="#" v-if="ticket.remainingTickets" v-on:click="addTicketDeparture" :data-price=ticket.fares[1].price>${{ ticket.fares[1].price}}</a>
							</div>
							<div>
								<a href="#" v-if="ticket.remainingTickets" v-on:click="addTicketDeparture" :data-price=ticket.fares[2].price>${{ ticket.fares[2].price}}</a>
							</div>
						</div>
					</div>
				</div>
				<div class="flight__selection__table--outbound" v-if="!destination">
					<div class="flight__selection__table--header">
						INBOUND
						<span>
							<strong class="outbound-from">{{ destinationCity }}</strong>
							<img src="./../assets/images/icon-arrow-right-blue.svg" alt="">
							<strong class="outbound-to">{{ originCity }}</strong>
						</span>
					</div>
					<div class="flight__selection__inbound">
						TODO: show datepicker for inbound flight
					</div>
				</div>
				<div class="flight__selection__table--outbound" v-if="destination">
					<div class="flight__selection__table--header">
						INBOUND
						<span>
							<strong class="outbound-from">{{ destinationCity }}</strong>
							<img src="./../assets/images/icon-arrow-right-blue.svg" alt="">
							<strong class="outbound-to">{{ originCity }}</strong>
						</span>
					</div>
					<div class="flight__selection__table__dates">
						<div class="flight__selection__table__dates--prev">
							<span>
								<img src="./../assets/images/icon-prev.svg" alt="">
								Wed 7 October
							</span>
						</div>
						<div class="flight__selection__table__dates--date">
							Saturday, 3 November 2015
						</div>
						<div class="flight__selection__table__dates--next">
							<span>
								Sat 10 October
								<img src="./../assets/images/icon-next.svg" alt="">
							</span>
						</div>
					</div>
					<div class="flight__selection__table__times">
						<div class="flight__selection__table__times--headers">
							<div></div>
							<div>Basic</div>
							<div>Standard</div>
							<div>Plus</div>
						</div>
						<div v-for="ticket in destination" v-bind:key="ticket.flightNumber" class="flight__selection__table__times--row">
							<div class="time">
								{{ ticket.departure  | moment("HH:mm") }}
								<img src="./../assets/images/icon-arrow-small.svg" alt="">
								{{ ticket.arrival  | moment("HH:mm") }}
							</div>
							<div>
								<a href="#" v-if="ticket.remainingTickets" v-on:click="addTicketArrival" :data-price=ticket.fares[0].price>${{ ticket.fares[0].price}}</a>
							</div>
							<div>
								<a href="#" v-if="ticket.remainingTickets" v-on:click="addTicketArrival" :data-price=ticket.fares[1].price>${{ ticket.fares[1].price}}</a>
							</div>
							<div>
								<a href="#" v-if="ticket.remainingTickets" v-on:click="addTicketArrival" :data-price=ticket.fares[2].price>${{ ticket.fares[2].price}}</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="popup" v-if="showPopup">
			<div class="modal">
				<div class="modal__header">
					Thanks for buying your tickets at mito airlines
				</div>
				<div class="modal__content">
					<div class="tickets">
						<div v-if="departureTicket" class="ticket-details">
							<div class="calendar">
								<strong>NOV</strong>
								<strong>3</strong>
							</div>
							<div class="departure">
								<strong>{{ originCity }} - {{ destinationCity }}</strong>
							</div>
						</div>
						<div v-if="arrivalTicket" class="ticket-details">
							<div class="calendar">
								<strong>NOV</strong>
								<strong>3</strong>
							</div>
							<div class="departure">
								<strong>{{ destinationCity }} - {{ originCity }}</strong>
							</div>
						</div>
					</div>
					<div class="total">
						<strong><span>TOTAL:</span> ${{ total }}</strong>
						<a href="#" class="reset" @click="hideModal">No thanks, reset</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import axios from 'axios'

export default {
	name: 'Flight',
	data () {
		return {
			origin: null,
			destination: null,
			originId: '',
			destinationId: '',
			departure: null,
			arrival: null,
			originCity: '',
			destinationCity: '',
			departureTicket: null,
			arrivalTicket: null,
			total: 0,
			showPopup: 0
		}
	},
	methods: {
		addTicketDeparture(e) {
			e.preventDefault()

			// TODO: enable select on any days after first pick up a time
			if(this.departureTicket === null){
				this.departureTicket = e.target.getAttribute('data-price');
				this.total += Number(e.target.getAttribute('data-price'));
				e.target.classList.toggle('active');
			}
		},
		addTicketArrival(e) {
			e.preventDefault()

			// TODO: enable select on any days after first pick up a time
			if(this.arrivalTicket === null){
				this.arrivalTicket = e.target.getAttribute('data-price');
				this.total += Number(e.target.getAttribute('data-price'));
				e.target.classList.toggle('active');
			}
		},
		showModal() {
			this.showPopup = 1;
		},
		hideModal(e) {
			e.preventDefault()
			this.showPopup = 0;
		}
	},
	async created() {
		// it seems mock-air search api doesn't have flight data after 2020-07-09
		// temporarily we use a fix URL instead of this:
		// const departure = await axios.get(this.$route.params.urlDeparture)
		if(this.$route.params.departure){
			const departure = await axios.get('https://mock-air.herokuapp.com/search?departureStation=BUD&arrivalStation=BCN&date=2020-07-01')
			if (departure.data) {
				this.origin = departure.data;
			}
		}

		if(this.$route.params.arrival){
			// const arrival = await axios.get(this.$route.params.urlArrival)
			const arrival = await axios.get('https://mock-air.herokuapp.com/search?departureStation=BCN&arrivalStation=BUD&date=2020-07-01')
			if (arrival.data) {
				this.destination = arrival.data;
			}
		}
    },
	mounted () {
		this.originCity = this.$route.params.origin ? this.$route.params.origin.split("(")[0] : '';
		this.destinationCity = this.$route.params.destination ? this.$route.params.destination.split("(")[0] : '';
		this.originId = this.$route.params.originId;
		this.destinationId = this.$route.params.destinationId;
		this.departure = this.$route.params.departure;
		this.arrival = this.$route.params.arrival;
	}
}
</script>