<template>
	<div class="home">
		<div class="home__container">
			<div class="home__header">
				<img src="./../assets/images/mito.svg" alt="">
				Mito Airline
			</div>
			<div class="home__form">
				<form class="form" @submit.prevent="search">
					<div class="form__group w50" :class="{ 'form__group--error': $v.origin.$error, 'active': originActive }">
						<vue-simple-suggest
							v-model="origin"
							:list="getOriginsList"
							:filter-by-query="true" 
							display-attribute="name"
							placeholder="Origin"
							value-attribute="id"
							@input="inputOrigin"
							@select="originSelected">
						</vue-simple-suggest>
						<label>Origin</label>
						<div v-if="$v.origin.$dirty">
							<p class="error" v-if="!$v.origin.required">Please select origin</p>
						</div>
					</div>
					<div class="form__group w50" :class="{ 'form__group--error': $v.destination.$error, 'active': destinationActive }">
						<vue-simple-suggest
							v-model="destination"
							:list="getDestinationsList"
							:filter-by-query="true" 
							display-attribute="name"
							placeholder="Destination"
							value-attribute="id"
							@input="inputDestination"
							@select="destinationSelected">
						</vue-simple-suggest>
						<label>Destination</label>
						<div v-if="$v.destination.$dirty">
							<p class="error" v-if="!$v.destination.required">Please select destination</p>
						</div>
					</div>
					<div class="form__group w50" :class="{ 'form__group--error': $v.date_departure.$error }">
						<datepicker 
							placeholder="Departure" 
							name="date_departure" 
							input-class="date" 
							v-model.lazy='$v.date_departure.$model'
							:disabledDates="disabledDepartureDate"
							format="yyyy-MM-dd"
							@selected="dateDepartureSelected">
						</datepicker>
						<div v-if="$v.date_departure.$dirty">
							<p class="error" v-if="!$v.date_departure.required">Please select departure</p>
						</div>
					</div>
					<div class="form__group w50">
						<datepicker 
							placeholder="Return" 
							name="date_return" 
							input-class="date" 
							:disabledDates="disabledReturnDate"
							format="yyyy-MM-dd"
							v-model.lazy='$v.date_return.$model'
							@selected="dateReturnSelected">
						</datepicker>
					</div>
					<div class="form__group text-center">
						<button class="button button--blue button--fix">Search</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</template>

<script>
import Datepicker from 'vuejs-datepicker'
import { required } from 'vuelidate/lib/validators'
import router from '../router'
import axios from 'axios'
import VueSimpleSuggest from 'vue-simple-suggest'
import 'vue-simple-suggest/dist/styles.css'

export default {
	name: 'Home',
	components: {
		Datepicker,
		VueSimpleSuggest
	},
	data () {
		return {
			data: null,
			origin: '',
			destination: '',
			originId: '',
			destinationId: '',
			date_departure: null,
			date_return: null,
			hasError: false,
			origins: [],
			destinations: [],
			originActive: false,
			destinationActive: false,
			disabledDepartureDate: {
				to: new Date(Date.now() - 8640000)
			},
			disabledReturnDate: {
				to: new Date(Date.now() - 8640000)
			},
		}
	},
	validations: {
		// set required fileds
		origin: {
			required
			},
		destination: {
			required
		},
		date_departure: {
			required
		},
		date_return: {},
	},
	methods: {
		search () {
			this.$v.$touch()
			// submit form if every required field are filled
			if (!this.$v.$invalid) {
				// go to Flight page
				router.push({ 
					name: 'Flight',
					params: {
						origin: this.origin,
						destination: this.destination,
						originId: this.originId,
						destinationId: this.destinationId,
						departure: this.date_departure,
						arrival: this.date_return,
						orig: this.originId,
						dest: this.destinationId,
						urlArrival: `https://mock-air.herokuapp.com/search?departureStation=${this.originId}&arrivalStation=${this.destinationId}&date=${this.date_departure }`,
						urlDeparture: `https://mock-air.herokuapp.com/search?departureStation=${this.destinationId}&arrivalStation=${this.originId}&date=${this.date_return }`
					}
				})
			}
		},
		inputOrigin(){
			// add active class if origin input is active and its value is not empty
			if(this.origin !== ""){
				this.originActive = true;
			} else {
				this.originActive = false;
			}
		},
		getOriginsList() {
			// get list of origins
			return this.origins;
		},
		inputDestination(){
			// add active class if destination input is active and its value is not empty
			if(this.destination !== ""){
				this.destinationActive = true;
			} else {
				this.destinationActive = false;
			}
		},
		getDestinationsList() {
			// get list of destinations
			return this.destinations;
		},
		originSelected(suggestion) {
			// filter destination list based on selected origin and its connections
			let destinations = [];

			// reset destination to prevent choosing the same city
			this.destination = '';
			this.originId = suggestion.id;

			var filteredDestinations = this.data
			.filter(element => element.connections
				.some(subElement => subElement.iata === suggestion.id)
			)
			.map(element => {
				let n = Object.assign({}, element, {'subElements': element.connections.filter(
					subElement => subElement.iata === suggestion.id
				)})
				return n;
			})

			Object.keys(filteredDestinations).forEach(e => {
				destinations.push({"id":filteredDestinations[e].iata,"name":filteredDestinations[e].shortName + " ("+filteredDestinations[e].iata+")"})
			})
				
			this.destinations = destinations;
		},
		destinationSelected(suggestion) {
			this.destinationId = suggestion.id;
		},
		dateDepartureSelected(selectedDate) {
			// set return date null if departure date is set to prevent to choose later day than return day
			this.date_return = null
			this.date_departure = selectedDate.toISOString().split('T')[0]
			this.disabledReturnDate.to = new Date(new Date(selectedDate) - 2 * 8640000)
		},
		dateReturnSelected(selectedDate) {
			this.date_return = selectedDate.toISOString().split('T')[0]
		},
	},
	mounted() {
		if (localStorage.origin) {
			this.origin = localStorage.origin;
		}
		if (localStorage.destination) {
			this.destination = localStorage.destination;
		}
		// get list of stations
		axios.get("https://mock-air.herokuapp.com/asset/stations")
			.then(response => {
				let destinations = [];

				this.data = response.data;

				Object.keys(response.data).forEach(e => {
					destinations.push({"id":response.data[e].iata,"name":response.data[e].shortName + " ("+response.data[e].iata+")"})
				})
				
				this.origins = destinations;
			})
	},
	watch: {
		origin(newOrigin) {
			localStorage.origin = newOrigin;
		},
		destination(newDestination) {
			localStorage.destination = newDestination;
		}
	}
}
</script>