body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  background: url(../images/background.svg) no-repeat #f2f2f2 top right; }

.home {
  width: 100%;
  max-width: 570px;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin: 0 auto;
  height: 365px; }
  .home__container {
    margin: 0 15px;
    -webkit-box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.1);
            box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.1); }
  .home__header {
    padding: 11px 15px;
    background: #06038D;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: 500;
    color: #FFF;
    text-transform: uppercase;
    font-size: 17px; }
    .home__header img {
      margin-right: 15px; }
  .home__form {
    background: #FFF;
    padding: 25px 15px 0px 15px; }

.flight {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto; }
  .flight__header {
    padding: 11px 20px;
    background: #06038D;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: 500;
    color: #FFF;
    text-transform: uppercase;
    font-size: 17px; }
    .flight__header img {
      margin-right: 15px;
      display: block; }
    .flight__header__from {
      margin-left: 127px; }
      .flight__header__from span:first-child {
        font-size: 10px;
        font-weight: 400;
        text-transform: uppercase;
        display: block; }
      .flight__header__from span:last-child {
        font-size: 20px;
        font-weight: 400;
        text-transform: none; }
    .flight__header__direction {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      margin: 0 40px; }
    .flight__header__to {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end; }
      .flight__header__to span {
        font-size: 20px;
        font-weight: 400;
        text-transform: none;
        padding-top: 13px; }
  .flight__selection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 10px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
    .flight__selection__sidebar {
      margin: 0 10px;
      width: 230px;
      margin-top: 190px; }
      .flight__selection__sidebar--price {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        border-top: 1px solid #c1c1c1;
        padding: 15px 16px 21px 16px;
        background: #FFF;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 700; }
        .flight__selection__sidebar--price .price {
          color: #06038D; }
      .flight__selection__sidebar--choose {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 0 16px 21px 16px;
        font-size: 16px;
        font-weight: 700;
        color: #919191;
        background: #FFF; }
        .flight__selection__sidebar--choose .calendar {
          width: 40px;
          height: 46px;
          -webkit-box-sizing: border-box;
                  box-sizing: border-box;
          border: 2px solid #e1e1e1;
          border-radius: 2px; }
          .flight__selection__sidebar--choose .calendar strong {
            font-size: 13px;
            font-weight: 700;
            text-align: center;
            display: block;
            line-height: 21px;
            color: #343434; }
            .flight__selection__sidebar--choose .calendar strong:first-child {
              background: #e1e1e1; }
        .flight__selection__sidebar--choose .ticket-details {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
              -ms-flex-direction: row;
                  flex-direction: row;
          -webkit-box-pack: start;
              -ms-flex-pack: start;
                  justify-content: flex-start;
          -webkit-box-align: start;
              -ms-flex-align: start;
                  align-items: flex-start; }
          .flight__selection__sidebar--choose .ticket-details + .ticket-details {
            margin-top: 30px; }
        .flight__selection__sidebar--choose .departure {
          padding-left: 12px;
          color: #343434;
          font-size: 14px;
          font-weight: 700; }
          .flight__selection__sidebar--choose .departure span {
            display: block;
            font-size: 10px; }
      .flight__selection__sidebar--total {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        font-weight: 700;
        color: #FFF;
        text-transform: uppercase;
        padding: 15px;
        background: #06038D;
        margin-bottom: 20px; }
    .flight__selection__inbound {
      padding: 40px 0 60px 0;
      background: #FFF;
      text-align: center; }
    .flight__selection__table {
      margin: 0 10px;
      width: 733px; }
      .flight__selection__table__title {
        height: 190px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        font-size: 40px;
        font-weight: 300;
        text-transform: uppercase;
        color: #06038D; }
        .flight__selection__table__title img {
          margin-right: 24px; }
      .flight__selection__table--header {
        padding: 18px 20px;
        background: #F2F2F2;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        text-transform: uppercase;
        color: #919191;
        font-size: 18px;
        font-weight: 500;
        -webkit-box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.1);
                box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.1);
        border-radius: 2px; }
        .flight__selection__table--header strong {
          color: #06038D;
          font-weight: 700;
          font-size: 22px;
          text-transform: none; }
          .flight__selection__table--header strong:first-child {
            margin-left: 46px; }
        .flight__selection__table--header img {
          margin: 0 24px; }
      .flight__selection__table--outbound {
        margin-bottom: 40px; }
      .flight__selection__table__dates {
        display: grid;
        grid-template-columns: auto auto auto;
        padding: 20px 15px;
        background: #FFF;
        border-bottom: 1px solid #E5E5E5; }
        .flight__selection__table__dates--prev {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          color: #919191;
          font-size: 13px;
          font-weight: 700;
          text-transform: uppercase; }
          .flight__selection__table__dates--prev img {
            margin-right: 10px; }
          .flight__selection__table__dates--prev span {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center; }
        .flight__selection__table__dates--next {
          -webkit-box-pack: end;
              -ms-flex-pack: end;
                  justify-content: flex-end;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          color: #919191;
          font-size: 13px;
          font-weight: 700;
          text-transform: uppercase; }
          .flight__selection__table__dates--next img {
            margin-left: 10px; }
          .flight__selection__table__dates--next span {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center; }
        .flight__selection__table__dates--date {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          font-size: 18px; }
      .flight__selection__table__times--headers {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr)); }
        .flight__selection__table__times--headers div {
          text-align: center;
          font-size: 10px;
          font-weight: 700;
          padding: 7px 0;
          text-align: center;
          text-transform: uppercase;
          background: #FFF; }
          .flight__selection__table__times--headers div:nth-child(3) {
            background: #F2F2F2; }
      .flight__selection__table__times--row {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        border-bottom: 1px solid #E5E5E5; }
        .flight__selection__table__times--row:nth-child(1) div {
          padding-top: 0; }
        .flight__selection__table__times--row div {
          padding: 24px 18px;
          background: #FFF;
          text-align: center; }
          .flight__selection__table__times--row div:first-child {
            text-align: left;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center; }
          .flight__selection__table__times--row div:nth-child(3) {
            background: #F2F2F2; }
          .flight__selection__table__times--row div a {
            display: block;
            width: 100%;
            padding: 12px 0;
            border: 2px solid #C6007E;
            border-radius: 2px;
            font-weight: 700;
            font-size: 20px;
            color: #343434;
            text-decoration: none;
            background: #FFF; }
            .flight__selection__table__times--row div a.active {
              background: #C6007E;
              color: #FFF; }

.popup {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.88);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .popup .modal {
    margin-left: 15px;
    margin-right: 15px; }
    .popup .modal__header {
      font-size: 16px;
      text-transform: uppercase;
      color: #06038D;
      font-weight: 300;
      padding: 15px 50px 15px 30px;
      background: #f2f2f2; }
    .popup .modal__content {
      padding: 25px 30px;
      background: #FFF; }
      .popup .modal__content .calendar {
        width: 40px;
        height: 46px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        border: 2px solid #e1e1e1;
        border-radius: 2px; }
        .popup .modal__content .calendar strong {
          font-size: 13px;
          font-weight: 700;
          text-align: center;
          display: block;
          line-height: 21px;
          color: #343434; }
          .popup .modal__content .calendar strong:first-child {
            background: #e1e1e1; }
      .popup .modal__content .ticket-details {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start; }
      .popup .modal__content .departure {
        padding-left: 12px;
        color: #343434;
        font-size: 14px;
        font-weight: 700; }
        .popup .modal__content .departure span {
          display: block;
          font-size: 10px; }
      .popup .modal__content .tickets {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row; }
        .popup .modal__content .tickets > div {
          width: 50%; }
      .popup .modal__content .total {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        margin-top: 25px;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        .popup .modal__content .total strong {
          font-size: 20px;
          font-weight: 700;
          color: #06038D; }
        .popup .modal__content .total .reset {
          color: #C6007E;
          font-size: 12px;
          font-weight: 700; }

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start; }
  .form__group {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0 10px;
    padding-bottom: 50px;
    position: relative;
    width: 100%; }
    .form__group.w50 {
      width: 50%; }
    .form__group.text-center {
      text-align: center; }
    .form__group.active label {
      opacity: 1 !important; }
    .form__group.active .vue-simple-suggest.designed .input-wrapper input {
      padding-top: 23px !important;
      padding-bottom: 7px !important; }
    .form__group input,
    .form__group .vue-simple-suggest.designed .input-wrapper input {
      background: #FFF !important;
      border: 1px solid #919191 !important;
      -webkit-box-sizing: border-box !important;
              box-sizing: border-box !important;
      border-radius: 2px !important;
      padding: 15px !important;
      font-weight: 400;
      color: #343434 !important;
      width: 100%;
      font-size: 16px;
      -webkit-transition: 0.4s all;
      transition: 0.4s all; }
      .form__group input.floating-label:not(:placeholder-shown),
      .form__group .vue-simple-suggest.designed .input-wrapper input.floating-label:not(:placeholder-shown) {
        padding-top: 23px;
        padding-bottom: 7px; }
        .form__group input.floating-label:not(:placeholder-shown) ~ label,
        .form__group .vue-simple-suggest.designed .input-wrapper input.floating-label:not(:placeholder-shown) ~ label {
          opacity: 1; }
    .form__group--error input,
    .form__group--error .vue-simple-suggest.designed .input-wrapper input {
      background: #FFF2FA !important;
      border: 2px solid #C6007E !important;
      -webkit-box-sizing: border-box !important;
              box-sizing: border-box !important;
      -webkit-box-shadow: 0px 0px 10px rgba(198, 0, 126, 0.35) !important;
              box-shadow: 0px 0px 10px rgba(198, 0, 126, 0.35) !important;
      border-radius: 3px !important;
      padding-top: 14px !important;
      padding-bottom: 14px !important; }
    .form__group label {
      font-size: 10px;
      font-weight: 900;
      color: #919191;
      text-transform: uppercase;
      padding-left: 15px;
      position: absolute;
      top: 8px;
      left: 12px;
      opacity: 0;
      -webkit-transition: 0.4s opacity;
      transition: 0.4s opacity; }
    .form__group .date {
      background: url(../images/icon-calendar.svg) no-repeat calc(100% - 19px) 12px; }
    .form__group .error {
      position: absolute;
      color: #C6007E;
      font-size: 14px;
      background: url(../images/icon-warning.svg) no-repeat left center;
      padding-left: 26px; }
    .form__group .autocomplete.autocomplete-list {
      z-index: 1;
      position: relative; }

.button {
  border-radius: 3px;
  border: 0;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  height: 50px;
  line-height: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto; }
  .button--blue {
    background: #3434E0;
    color: #FFF; }
  .button--fix {
    width: 230px; }
  .button--paynow {
    font-weight: 900;
    text-align: center;
    width: 100%;
    padding: 15px;
    color: #FFF;
    border: 0;
    text-transform: uppercase;
    background: #C6007E; }
    .button--paynow[disabled] {
      background: #c1c1c1; }

.autocomplete__icon {
  display: none; }

.autocomplete__box {
  border: 1px solid #919191 !important;
  padding: 0 !important; }
  .autocomplete__box .autocomplete__inputs {
    padding: 0 !important; }

@media screen and (max-width: 767px) {
  .flight__selection {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .flight__selection__sidebar {
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2;
      width: 100%;
      margin: 40px 0 0 0; }
    .flight__selection__table {
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1;
      width: 100%;
      margin: 0; } }
@media screen and (max-width: 560px) {
  .flight__header__from {
    margin-left: 0; }
  .flight__header__direction {
    margin: 0 10px; }
    .flight__header__direction img {
      margin-right: 0; }
  .flight__selection__table--header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .flight__selection__table--header strong:first-child {
      margin-left: 0; } }
@media screen and (max-width: 481px) {
  .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: no-wrap;
        flex-wrap: no-wrap;
    -ms-flex-line-pack: start;
        align-content: flex-start; }
    .form__group.w50 {
      width: 100%; } }
