$color-blue: #06038D;
$color-white: #FFF;
$color-light-gray: #f2f2f2;
$color-gray: #919191;
$color-dark-gray: #343434;
$color-light-blue: #3434E0;
$color-pink: #C6007E;
$color-light-pink: #FFF2FA;
$color-gray-border: #c1c1c1;
$color-gray-outbound: #F2F2F2;

body{
	font-family: 'Roboto', sans-serif;
	padding: 0;
	margin: 0;
	background: url(../images/background.svg) no-repeat $color-light-gray top right;
}

.home{
	width: 100%;
	max-width: 570px;
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	bottom: 0;
	transform: translateY(-50%);
	margin: 0 auto;
	height: 365px;
	&__container{
		margin: 0 15px;
		box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.1);
	}
	&__header{
		padding: 11px 15px;
		background: $color-blue;
		display: flex;
		align-items: center;
		font-weight: 500;
		color: $color-white;
		text-transform: uppercase;
		font-size: 17px;
		img{
			margin-right: 15px;
		}
	}
	&__form{
		background: $color-white;
		padding: 25px 15px 0px 15px;
	}
}
.flight{
	max-width: 1024px;
	width: 100%;
	margin: 0 auto;
	&__header{
		padding: 11px 20px;
		background: $color-blue;
		display: flex;
		align-items: center;
		font-weight: 500;
		color: $color-white;
		text-transform: uppercase;
		font-size: 17px;
		img{
			margin-right: 15px;
			display: block;
		}
		&__from{
			margin-left: 127px;
			span:first-child{
				font-size: 10px;
				font-weight: 400;
				text-transform: uppercase;
				display: block;
			}
			span:last-child{
				font-size: 20px;
				font-weight: 400;
				text-transform: none;
			}
		}
		&__direction{
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction:column;
			margin: 0 40px;
		}
		&__to{
			display: flex;
			align-items: flex-end;
			span{
				font-size: 20px;
				font-weight: 400;
				text-transform: none;
				padding-top: 13px;
			}
		}
	}
	&__selection{
		display: flex;
		padding: 0 10px;
		flex-direction: row;
		&__sidebar{
			margin: 0 10px;
			width: 230px;
			margin-top: 190px;
			&--price{
				display: flex;
				justify-content: space-between;
				border-top: 1px solid $color-gray-border;
				padding: 15px 16px 21px 16px;
				background: $color-white;
				text-transform: uppercase;
				font-size: 14px;
				font-weight: 700;
				.price{
					color: $color-blue;
				}
			}
			&--choose{
				display: flex;
				padding: 0 16px 21px 16px;
				font-size: 16px;
				font-weight: 700;
				color: $color-gray;
				background: $color-white;
				.calendar{
					width: 40px;
					height: 46px;
					box-sizing: border-box;
					border: 2px solid #e1e1e1;
					border-radius: 2px;
					strong{
						font-size: 13px;
						font-weight: 700;
						text-align: center;
						display: block;
						line-height: 21px;
						color: $color-dark-gray;
						&:first-child{
							background: #e1e1e1;
						}
					}
				}
				.ticket-details{
					display: flex;
					flex-direction: row;
					justify-content: flex-start;
					align-items: flex-start;
					&+.ticket-details{
						margin-top: 30px;
					}
				}
				.departure{
					padding-left: 12px;
					color: $color-dark-gray;
					font-size: 14px;
					font-weight: 700;
					span{
						display: block;
						font-size: 10px;
					}
				}
			}
			&--total{
				display: flex;
				justify-content: space-between;
				font-weight: 700;
				color: $color-white;
				text-transform: uppercase;
				padding: 15px;
				background: $color-blue;
				margin-bottom: 20px;
			}
		}
		&__inbound{
			padding: 40px 0 60px 0;
			background: $color-white;
			text-align: center;
		}
		&__table{
			margin: 0 10px;
			width: 733px;
			&__title{
				height: 190px;
				display: flex;
				justify-content: flex-start;
				align-items: center;
				font-size: 40px;
				font-weight: 300;
				text-transform: uppercase;
				color: $color-blue;
				img{
					margin-right: 24px;
				}
			}
			&--header{
				padding: 18px 20px;
				background: $color-gray-outbound;
				display: flex;
				align-items: center;
				flex-direction: row;
				text-transform: uppercase;
				color: $color-gray;
				font-size: 18px;
				font-weight: 500;
				box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.1);
				border-radius: 2px;
				strong{
					color: $color-blue;
					font-weight: 700;
					font-size: 22px;
					text-transform: none;
					&:first-child{
						margin-left: 46px;
					}
				}
				img{
					margin: 0 24px;
				}
			}
			&--outbound{
				margin-bottom: 40px;	
			}
			&__dates{
				display: grid;
  				grid-template-columns: auto auto auto;
  				padding: 20px 15px;
  				background: $color-white;
  				border-bottom: 1px solid #E5E5E5;
				&--prev{
					display: flex;
					align-items: center;
					color: $color-gray;
					font-size: 13px;
					font-weight: 700;
					text-transform: uppercase;
					img{
						margin-right: 10px;
					}
					span{
						display: flex;
						align-items: center;
					}
				}
				&--next{
					justify-content: flex-end;
					display: flex;
					align-items: center;
					color: $color-gray;
					font-size: 13px;
					font-weight: 700;
					text-transform: uppercase;
					img{
						margin-left: 10px;
					}
					span{
						display: flex;
						align-items: center;
					}
				}
				&--date{
					display: flex;
					align-items: center;
					justify-content: center;
					font-size: 18px;
				}
			}
			&__times{
				&--headers{
					display: grid;
  					grid-template-columns: repeat(4, minmax(0, 1fr));
  					div{
  						text-align: center;
  						font-size: 10px;
  						font-weight: 700;
  						padding: 7px 0;
  						text-align: center;
  						text-transform: uppercase;
  						background: $color-white;
  						&:nth-child(3){
	  						background: $color-gray-outbound;
	  					}
  					}
				}
				&--row{
					display: grid;
  					grid-template-columns: repeat(4, minmax(0, 1fr));
  					border-bottom: 1px solid #E5E5E5;
  					&:nth-child(1){
  						div{
  							padding-top: 0;
  						}
  					}
  					div{
  						padding: 24px 18px;
  						background: $color-white;
  						text-align: center;
  						&:first-child{
  							text-align: left;
  							display: flex;
  							align-items: center;
  						}
	  					&:nth-child(3){
	  						background: $color-gray-outbound;
	  					}
	  					a{
	  						display: block;
	  						width: 100%;
	  						padding: 12px 0;
	  						border: 2px solid $color-pink;
	  						border-radius: 2px;
	  						font-weight: 700;
	  						font-size: 20px;
	  						color: $color-dark-gray;
	  						text-decoration: none;
	  						background: $color-white;
	  						&.active{
	  							background: $color-pink;
	  							color: $color-white;
	  						}
	  					}
  					}
				}
			}
		}
	}
}
.popup{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.88);
	position :fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	.modal{
		margin-left: 15px;
		margin-right: 15px;
		&__header{
			font-size: 16px;
			text-transform: uppercase;
			color: $color-blue;
			font-weight: 300;
			padding: 15px 50px 15px 30px;
			background: #f2f2f2;
		}
		&__content{
			padding: 25px 30px;
			background: $color-white;
			.calendar{
				width: 40px;
				height: 46px;
				box-sizing: border-box;
				border: 2px solid #e1e1e1;
				border-radius: 2px;
				strong{
					font-size: 13px;
					font-weight: 700;
					text-align: center;
					display: block;
					line-height: 21px;
					color: $color-dark-gray;
					&:first-child{
						background: #e1e1e1;
					}
				}
			}
			.ticket-details{
				display: flex;
				flex-direction: row;
				justify-content: flex-start;
				align-items: flex-start;
			}
			.departure{
				padding-left: 12px;
				color: $color-dark-gray;
				font-size: 14px;
				font-weight: 700;
				span{
					display: block;
					font-size: 10px;
				}
			}
			.tickets{
				display: flex;
				flex-direction: row;
				>div{
					width: 50%;
				}
			}
			.total{
				display: flex;
				justify-content: space-between;
				margin-top: 25px;
				align-items: center;
				strong{
					font-size: 20px;
					font-weight: 700;
					color: $color-blue;
				}
				.reset{
					color: $color-pink;
					font-size: 12px;
					font-weight: 700;
				}
			}
		}
	}
}
.form{
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	&__group{
		box-sizing: border-box;
		padding: 0 10px;
		padding-bottom: 50px;
		position: relative;
		width: 100%;
		&.w50{
			width: 50%;
		}
		&.text-center{
			text-align: center;
		}
		&.active{
			label{
				opacity: 1!important;	
			}
			.vue-simple-suggest.designed{
				.input-wrapper input{
				 	padding-top: 23px!important;
					padding-bottom: 7px!important;
				}
			} 
		}
		input,
		.vue-simple-suggest.designed .input-wrapper input{
			background: $color-white!important;
			border: 1px solid $color-gray!important;
			box-sizing: border-box!important;
			border-radius: 2px!important;
			padding: 15px!important;
			font-weight: 400;
			color: $color-dark-gray!important;
			width: 100%;
			font-size: 16px;
			transition: 0.4s all;
			&.floating-label:not(:placeholder-shown){
				padding-top: 23px;
				padding-bottom: 7px;
				&~label{
					opacity: 1;
				}
			}
		}
		&--error{
			input,
			.vue-simple-suggest.designed .input-wrapper input{
				background: $color-light-pink!important;
				border: 2px solid $color-pink!important;
				box-sizing: border-box!important;
				box-shadow: 0px 0px 10px rgba(198, 0, 126, 0.35)!important;
				border-radius: 3px!important;
				padding-top: 14px!important;
				padding-bottom: 14px!important;
			}
		}
		label{
			font-size: 10px;
			font-weight: 900;
			color: $color-gray;
			text-transform: uppercase;
			padding-left: 15px;
			position: absolute;
			top: 8px;
			left: 12px;
			opacity: 0;
			transition: 0.4s opacity;
		}
		.date{
			background: url(../images/icon-calendar.svg) no-repeat calc(100% - 19px) 12px;
		}
		.error{
			position: absolute;
			color: $color-pink;
			font-size: 14px;
			background: url(../images/icon-warning.svg) no-repeat left center;
			padding-left: 26px;
		}
		.autocomplete.autocomplete-list {
		    z-index: 1;
		    position: relative;
		}
	}
}

.button{
	border-radius: 3px;
	border: 0;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 500;
	text-align: center;
	height: 50px;
	line-height: 21px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	&--blue{
		background: $color-light-blue;
		color: $color-white;
	}
	&--fix{
		width: 230px;
	}
	&--paynow{
		font-weight: 900;
		text-align: center;
		width: 100%;
		padding: 15px;
		color: $color-white;
		border: 0;
		text-transform: uppercase;
		background: $color-pink;
		&[disabled]{
			background: $color-gray-border;
		}
	}
}

.autocomplete__icon{
	display: none;
}
.autocomplete__box{
	border: 1px solid $color-gray!important;
	padding: 0!important;
	.autocomplete__inputs{
		padding: 0!important;
	}
}

@media screen and (max-width: 767px){
	.flight{
		&__selection{
			flex-direction: column;
			&__sidebar{
				order: 2;
				width: 100%;
				margin: 40px 0 0 0;
			}
			&__table{
				order: 1;
				width: 100%;
				margin: 0;
			}
		}
	}
}

@media screen and (max-width: 560px){
	.flight{
		&__header{
			&__from{
				margin-left: 0;
			}
			&__direction{
				margin: 0 10px;
				img{
					margin-right: 0;
				}
			}
		}
		&__selection{
			&__table{
				&--header{
					flex-direction: column;
					strong{
						&:first-child{
							margin-left: 0;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 481px){
	.form{
		display: flex;
		flex-wrap: no-wrap;
		align-content: flex-start;
		&__group{
			&.w50{
				width: 100%;
			}
		}
	}
}